<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl}}" alt="{{user.username}}">
        <div class="card-body">
          <div>
            <strong>Wiek</strong>
            <p>{{user?.age}}</p>
          </div>
          <div>
            <strong>City</strong>
            <p>{{user?.city}}, {{user?.country}}</p>
          </div>
          <div>
            <strong>Rasa</strong>
            <p>{{user?.rasa}}</p>
          </div>
          <div>
            <strong>Fur color</strong>
            <p>{{user?.furColor}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      Extended data
    </div>
  </div>
</div>
