<div>
  {{user?.username}}
</div>
<div>
  {{user?.age}}
  </div>
  <div>
  {{user?.animalType}}
  </div>
  <div>
  {{user?.city}}
  </div>
  <div>
  {{user?.country}}
  </div>
  <div>
  {{user?.dateOfBirth}}
</div>
<div>
  {{user?.description}}
  </div>
  <div>
    {{user?.freeTimeActivities}}
    </div>
    <div>
      {{user?.furColor}}
      </div>
      <div>
        {{user?.height}}
        </div>
        <div>
            {{user?.rasa}}
          </div>
          <div>
            {{user?.weight}}
          </div>

