<div class="card" style="width:20em;height: 80%; margin-left: 4px;">
  <i class="fa fa-user" style="margin-top: 4px; margin-left: 4px;"></i>
  <img src={{user.photoUrl}} class="card-img-top" style="object-fit: scale-down;" alt="{{user.username}}">
  <div class="card-body text-center">
    <h5 class="card-title"><i class="fa fa-mars" style="margin-right: 7px;"></i>{{user.username}}</h5>
    <p class="card-text text-center">{{user.rasa}}, {{user.age}} </p>
    <a href="#" class="btn btn-primary">Open profile</a>
  </div>
</div>
